.wrap-accordion {
  margin-bottom: 6px;
  .wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    background-color: var(--beige);
    border-radius: 6px;
    cursor: pointer;

    .icon-arrow-down {
      width: 20px;
      height: 20px;

      // transform: rotate(-180deg);
    }
  }
  .wrap-content {
    display: none;
  }
}

.wrap-accordion.open {
  .wrap-header {
    .icon-arrow-down {
      transform: rotate(-180deg);
    }
  }
  .wrap-content {
    display: block;
  }
}
