@font-face {
  font-family: NamumPen;
  src:
    url('../assets/fonts/NanumPen.woff2') format('woff2'),
    url('../assets/fonts/NanumPen.woff') format('woff'),
    url('../assets/fonts/NanumPen.ttf') format('ttf');

  font-display: fallback;
}
